@model List<AngularFiltering.DAL.Models.Product>

<h1>Products</h1>

<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Price</td>
            <td>Created at</td>
        </tr>
    </thead>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.CreatedDate</td>
        </tr>
    }
</table>
